<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 	 <!-- 配置账户对象 -->
	 <bean name="account" class="com.briup.aop.pojo.Account">
	 	<property name="id" value="10"/>
	 	<property name="name" value="terry"/>
	 	<property name="balance" value="10000"/>
	 </bean>
	 
	 <!-- 配置dao层对象 -->
	 <bean id="dao" 
	 class="com.briup.aop.dao.AccountDaoImpl"/>
	 
	 <!-- 配置service层对象 也是我们例子中的目标对象-->
	 <bean id="target" 
	 class="com.briup.aop.service.AccountServiceImpl">
	 	<property name="accountDao" ref="dao"/>
	 	<property name="account" ref="account"/>
	 </bean>
	 
	 <!-- 配置handler对象 -->
	 <bean id="handler" class="com.briup.aop.dProxy.LogHandler">
 		<property name="target">
 			<ref bean="target"/>
 		</property>
	 </bean>
	 
	 <!-- 配置产生代理对象的工厂类 -->
	 <bean id="proxy" class="com.briup.aop.dProxy.ProxyFactoryBean">
	 	<!-- 注入目标对象 -->
	 	<property name="target" ref="target"/>
	 	<!-- 注入目标对象实现的接口 -->
	 	<property name="interfaces">
	 		<list>
	 			<value>com.briup.aop.service.IAccountService</value>
	 		</list>
	 	</property>
	 	<!-- 注入handler对象 -->
	 	<property name="handler" ref="handler"/>
	 </bean>
</beans>